.main{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;

  input{
    height: 30px;
    //width: 300px;
    width: 30vw;
    background: #f0f2f4;
  }

  button{
    border-radius: 4px;
    border: none;
    color:#ffffff;
    background: linear-gradient(45deg,#fd267a,#ff6036);
    height: 30px;
    width: 30vw;
    font-weight: 600;
    cursor: pointer;
  }
}